body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo { float: left; padding: 20px }
#routes {clear: both;}

#generation{
    
    text-align:center;
}

.tableLabel:hover{
    background-color:lightblue;
}

#geographyandserviceselection{
    border: 1px solid black;
    text-align:center;
    width: 700px;    
    padding: 10px;
    margin-left: 140px;
}

.o365service{
    display:inline-block;
    vertical-align:top;
    padding:10px;
    text-align:left;
    width:300px;
}

.geography{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align:left;
    width: 150px;
}

label { font-weight: normal; font-size: 12px}

.tableLabel{
    font-weight: bold;
    font-size: 14px;
}

#backgroundText{
    padding-top: 50px;
}

#headerAndLogo{

}

.radiobutton{
    text-align:left;
    width:320px;
    display:inline-block;
    vertical-align:top;
}

.outputformatlist{
    text-align:left;
    width:320px;
    display:inline-block;
    vertical-align:central;
}

.calculatebuttons{
    /*width:330px;*/
    display:inline-block;
    vertical-align:top;
    padding:10px;
}

.outputformat{
    border: 1px black;
    padding:10px;
}

#special-select{
    padding:10px;
}

#TextResponse{
    width:700px;
    margin-left:140px;
}

#tbox{
    width:100%;
    max-width:inherit;
    height:300px;
}

.backgroundText{
    width:700px;
    padding:10px;
    margin-left:140px;
}